.l3{
    visibility: hidden;
    position: absolute;
    top: 530px;
    left: 750px;
    width: 295px;
    height: 195px;
    background-color: rgb(90, 92, 94);
    }

    .l2 a:hover .l3{
        visibility: visible;
        color: gray;
    }
    .l4 a:hover .l5{
        visibility: visible;
        color: gray;
    }
    .l5{
        visibility: hidden;
        position: absolute;
        top: 550px;
        left: 1080px;
        width: 295px;
        height: 155px;
        background-color: rgb(90, 92, 94);
    }
    .l6 a:hover .l7{
        visibility: visible;
        color: gray;
    }
    .l7{
        visibility: hidden;
        position: absolute;
        top: 760px;
        left: 420px;
        width: 295px;
        height: 155px;
        background-color: rgb(90, 92, 94);
    }
    .l8 a:hover .l9{
        visibility: visible;
        color: gray;
    }
    .l9{
        visibility: hidden;
        position: absolute;
        top: 780px;
        left: 750px;
        width: 295px;
        height: 155px;
        background-color: rgb(90, 92, 94);
    }
    .l10 a:hover .l11{
        visibility: visible;
        color: gray;
    }
    .l11{
        visibility: hidden;
        position: absolute;
        top: 780px;
        left: 1080px;
        width: 295px;
        height: 155px;
        background-color: rgb(90, 92, 94);
    }
